<div class="top">
    <div class="home">
        <img src="<%= leftBadge %>" alt="home">
        <span><%= leftGoal %></span>
    </div>
    <div class="time"><%= startTime.split(' ')[0] %></div>
    <div class="away">
        <span><%= rightGoal %></span>
        <img src="<%= rightBadge %>" alt="home">
    </div>
</div>
<div class="middle"><span></span></div>
<div class="bottom">
    <span class="home"><%= leftSupport %></span>
    <span class="type"><%= matchDesc %></span>
    <span class="away"><%= rightSupport %></span>
</div>